
**/.*/
**/.data/
**/.metadata/
**/new_carpet/carp/data/
**/.new_carpet/
**/work-data/
**/GlobalConfiguration/
/pentaho/
./pentaho/
# /databases/oracle/.data/
# /databases/oracle/.metadata/
# /databases/oracle/.work-data/
**/docker-images/
/databases/oracle/docker-images/
**/AdventureWorks-for-Postgres/
/posgress/AdventureWorks-for-Postgres/





