
**/.*/
/databases/
**/.data/
**/.metadata/

**/.new_carpet/
**/work-data/
**/GlobalConfiguration/
/pentaho/
./pentaho/
/databases/oracle/.data/
/databases/oracle/.metadata/
/databases/oracle/.work-data/




